In [1]:
import  numpy  as np
import  pandas as pd 
import  matplotlib.pyplot as plt
from matplotlib.pyplot import MultipleLocator
import math

In [2]:
% matplotlib auto

Using matplotlib backend: Qt5Agg

In [3]:
df =pd.read_excel('C:\\Users\Admin\\Desktop\\小美赛\\数据\\数据处理\\13.xlsx')

In [4]:
df

                      时间        速度
0    2014-08-18 06:00:00  0.214038
1    2014-08-18 06:01:00  0.420589
2    2014-08-18 06:02:00  0.619358
3    2014-08-18 06:03:00  0.826171
4    2014-08-18 06:04:00  1.032982
5    2014-08-18 06:05:00  1.194044
6    2014-08-18 06:06:00  1.413269
7    2014-08-18 06:07:00  1.642271
8    2014-08-18 06:08:00  1.859408
9    2014-08-18 06:09:00  2.080729
10   2014-08-18 06:10:00  2.284862
11   2014-08-18 06:11:00  2.546947
12   2014-08-18 06:12:00  2.789785
13   2014-08-18 06:13:00  3.019562
14   2014-08-18 06:14:00  3.273076
15   2014-08-18 06:15:00  3.499855
16   2014-08-18 06:16:00  3.727528
17   2014-08-18 06:17:00  3.994219
18   2014-08-18 06:18:00  4.228535
19   2014-08-18 06:19:00  4.451687
20   2014-08-18 06:20:00  4.714759
21   2014-08-18 06:21:00  4.961530
22   2014-08-18 06:22:00  5.199358
23   2014-08-18 06:23:00  5.441272
24   2014-08-18 06:24:00  5.681352
25   2014-08-18 06:25:00  5.917013
26   2014-08-18 06:26:00  6.139021
27   2014-08-18 06:27:00  6.381213
28   2014-08-18 06:28:00  6.643381
29   2014-08-18 06:29:00  6.890159
...                  ...       ...
1050 2014-08-18 23:30:00  9.058247
1051 2014-08-18 23:31:00  9.088101
1052 2014-08-18 23:32:00  9.116297
1053 2014-08-18 23:33:00  9.125078
1054 2014-08-18 23:34:00  9.129538
1055 2014-08-18 23:35:00  9.119178
1056 2014-08-18 23:36:00  9.110356
1057 2014-08-18 23:37:00  9.112729
1058 2014-08-18 23:38:00  9.119672
1059 2014-08-18 23:39:00  9.132569
1060 2014-08-18 23:40:00  9.128627
1061 2014-08-18 23:41:00  9.152995
1062 2014-08-18 23:42:00  9.179815
1063 2014-08-18 23:43:00  9.206382
1064 2014-08-18 23:44:00  9.229339
1065 2014-08-18 23:45:00  9.264486
1066 2014-08-18 23:46:00  9.260600
1067 2014-08-18 23:47:00  9.265872
1068 2014-08-18 23:48:00  9.266596
1069 2014-08-18 23:49:00  9.257208
1070 2014-08-18 23:50:00  9.235793
1071 2014-08-18 23:51:00  9.236571
1072 2014-08-18 23:52:00  9.241590
1073 2014-08-18 23:53:00  9.235829
1074 2014-08-18 23:54:00  9.234297
1075 2014-08-18 23:55:00  9.236297
1076 2014-08-18 23:56:00  9.234920
1077 2014-08-18 23:57:00  9.236985
1078 2014-08-18 23:58:00  9.208922
1079 2014-08-18 23:59:00  9.211358

[1080 rows x 2 columns]

In [5]:
#################计算出每一天速度之间的欧氏距离##############
def cal_eucl(data):
    distance =[]
    for i in range (18):
        data_1=pd.read_excel('C:\\Users\Admin\\Desktop\\小美赛\\数据\\数据处理\\{}.xlsx'.format(i+1))
        data_sub =data_1 -data
        sub = list(data_sub['速度'].values)
        d =0
        for j in range(len(sub)):
            d =sub[j]**2+d
        distance.append(d)
    return distance

In [6]:
###############最近的数据进行排序
def  sele(data):
    d1 =cal_eucl(data)
    d  = pd.DataFrame(d1)
    d.sort_values(by = 0,ascending =True,inplace = True)
    index = list(d.index)
    index_true =[i+1 for i in index]
    return index_true

In [7]:
###################选取最近的k个数据处理##################
def k_select(k,data):
    index_all = sele(data)
    index = [] 
    for i in range(k):  
        index.append(index_all[i+1])
    return index

In [8]:
s = k_select(6,df)
s
for i in s:
    print(i)

2
4
14
8
15
9

In [9]:
df1 =pd.read_excel('C:\\Users\Admin\\Desktop\\小美赛\\数据\\数据处理\\2.xlsx')
df2 =pd.read_excel('C:\\Users\Admin\\Desktop\\小美赛\\数据\\数据处理\\4.xlsx')
df3 =pd.read_excel('C:\\Users\Admin\\Desktop\\小美赛\\数据\\数据处理\\14.xlsx')
df4 =pd.read_excel('C:\\Users\Admin\\Desktop\\小美赛\\数据\\数据处理\\8.xlsx')
df5 =pd.read_excel('C:\\Users\Admin\\Desktop\\小美赛\\数据\\数据处理\\15.xlsx')
df6 =pd.read_excel('C:\\Users\Admin\\Desktop\\小美赛\\数据\\数据处理\\9.xlsx')

In [10]:
speed =(df1["速度"]+df2["速度"]+df3["速度"]+df4["速度"]+df5["速度"]+df6["速度"])/6

In [11]:
speed

0       0.203597
1       0.422277
2       0.637006
3       0.857227
4       1.081742
5       1.309007
6       1.546939
7       1.785542
8       2.026291
9       2.251433
10      2.480382
11      2.708124
12      2.936981
13      3.157599
14      3.381004
15      3.614232
16      3.847942
17      4.091691
18      4.331254
19      4.565788
20      4.801749
21      5.047612
22      5.287391
23      5.537708
24      5.780265
25      6.010099
26      6.228673
27      6.461004
28      6.694876
29      6.929516
          ...
1050    9.143902
1051    9.157236
1052    9.176131
1053    9.176804
1054    9.175359
1055    9.155006
1056    9.149491
1057    9.149919
1058    9.158453
1059    9.157953
1060    9.152929
1061    9.152031
1062    9.153366
1063    9.154570
1064    9.157414
1065    9.164763
1066    9.175215
1067    9.191383
1068    9.205840
1069    9.215136
1070    9.219456
1071    9.225454
1072    9.222883
1073    9.228480
1074    9.229157
1075    9.222159
1076    9.225468
1077    9.223473
1078    9.223135
1079    9.224736
Name: 速度, Length: 1080, dtype: float64

In [12]:
###########获取time
def time(data):
    data['time'] =0
    for i in list(range(len(data['时间']))):
        t =str(data['时间'][i]).split()[1]
        data.loc[i,'time'] = t
    return data

In [13]:
df =time(df)

In [14]:
plt.figure(figsize=(10,5))
ax =plt.gca()
x_major_locator =MultipleLocator(120)
ax.xaxis.set_major_locator(x_major_locator)
plt.plot(df["time"],speed,label ='predicted value')
plt.plot(df["time"],df['速度'],label ='true value')

plt.xlabel('time',fontsize =14)
plt.ylabel('velocity(m/s)',fontsize =14)
# plt.title('Speed Trend',fontsize =20)
plt.legend()
plt.show()

In [15]:
################均方差的计算###########3
def MSE(speed1,speed2):
    speed =speed1-speed2
    return math.sqrt(sum(list(speed**2)))/1080

In [16]:
MSE(df['速度'],speed)

0.009155486146030338

In [19]:
##################绝对方差#############
def MAE(speed1,speed2):
    speed =speed1-speed2
    return np.mean(list(abs(speed)))

In [20]:
MAE(df['速度'],speed)

0.21680696096757207